In [3]:
a=2+2j
b=2+3j
c=a+b
print(c)

(4+5j)

In [4]:
a=2
b=3
c=a**b
print(c)

8

In [7]:
x = 5   #to swap without temp
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [9]:
x=5    #swap using temp
y=20

temp=x
x=y
y=temp
print(x)
print(y)

20
5

In [10]:
f=45     # Far' to C
c=(f-32)*5/9
c

7.222222222222222

In [11]:
x=2
y=2.2
z=2+3j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>