In [8]:
a=5+2j                  # modulo and floor divison is not possible
b=5+5j
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)
print(a//b)

(10+7j)
-3j
(0.7-0.3j)
(15+35j)

In [13]:
a=10         #question no3
b=5
if a-b<25 :
  print(a*b,"Multiplication of two no")
else :
  print(a/b,"divison of two no")

50 Multiplication of two no

In [26]:
l = [1,2,3,4,5,10,20,30,9,26,32]    #question4
for i in l :
   if i%2==0:
      print(i*i-2," divisble by 2 -2")
   else :
      print(i)

1
2  divisble by 2 -2
3
14  divisble by 2 -2
5
98  divisble by 2 -2
398  divisble by 2 -2
898  divisble by 2 -2
9
674  divisble by 2 -2
1022  divisble by 2 -2

In [28]:
l = [1,2,3,4,5,10,20,30,9,26,32]      #question5
for i in l:
    if (i/2)>7:
      print(i)

20
30
26
32

In [29]:
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

x = range(10, 50, 3)       #range between 10 to 50 with increment 3
for n in x:
  print(n)

10
13
16
19
22
25
28
31
34
37
40
43
46
49

<!-- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number. -->