In [6]:
email="rahulsinghal042@gmail.com"
print("email",email)
domain=email.split('@')[1].rstrip(".com")
print(domain)

email rahulsinghal042@gmail.com
gmail

In [20]:
str=[x for x in input("enter data to sort").split(',')]
str.sort()
print ("Sorted data are ",','.join(str))

enter data to sortram,anita,rajeev,madan,radhika,rahul,vinay,jaisingh
Sorted data are  anita,jaisingh,madan,radhika,rahul,rajeev,ram,vinay

In [25]:
thisset = {"apple", "banana", "cherry"}  #set creation
thisset.remove("banana")     #remove key
print(len(thisset))          #length of set after removing
print(thisset)

2
{'cherry', 'apple'}

In [28]:
def missno(a):
    n=len(a)
    total=(n+1)*(n+2)/2
    sum_of=sum (a)
    return total-sum_of

a= [1,2,3,4,5,7,8]
b=missno(a)
print(b)

6.0

In [29]:
def my_function(x):
  return list(dict.fromkeys(x))

mylist = my_function(["a", "b", "a", "c", "c"])

print(mylist)

['a', 'b', 'c']